<!-- Adapted from Jeff Ondich's help.html from the flask introductory lab. -->
<!DOCTYPE html>
<html>
<head>
    <title>Olympics API reference</title>
</head>
<body>
    <pre>Olympics API: endpoint reference
All responses are in JSON

REQUEST: /games
RESPONSE:
    A list of all olympic games in the database sorted chronologically.
    Each games is represented as a dictionary with "id", "year", "season", and "city" keys.

REQUEST: /help
RESPONSE:
    This message.

REQUEST: /medalists/games/{games_id}[?noc={noc_abbreviation}]
RESPONSE:
    A list of all medalists of the specified games. This list is not sorted.
    Each medalist is represented by a dictionary with "athlete_id", "athlete_name", "athlete_sex", "sport", "event", and "medal" as keys.
    The query can be further restricted by naming an NOC. If an NOC is provided, only athletes representing that NOC (who also medaled at the during the specified year) will be returned.

REQUEST: /nocs
RESPONSE:
    A list of all national olympic committees (NOCs) sorted alphabetically by abbreviation.
    Each NOC is represented by a dictionary with "abbreviation" and "name" keys.

    </pre>
</body>
</html>

